body {
    background-color: #272b30;
    color: #fff;
}
a {
    color: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff !important;
}
/***** Header *****/
header img {
    max-height: 30vh;
    object-fit: cover;
}
/***** Header *****/
nav {
    background-color: rgb(58, 73, 123) !important;
    margin-inline: auto;
    margin-top: -30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
}

.home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
    color: #fff;
}

header img {
    max-height: 30vh;
    object-fit: cover;
}

.home .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}
/***** Loader *****/
.loading {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.details {
    background-color: #272729be;

    backdrop-filter: blur(4px);
    min-height: 100vh;
}